<div class="container">
    <div class="row">
        <div class="col-8 p-0">
            <div class="form-outline mb-0-5 mt-1">
                <input type="search" class="form-control" #searchField placeholder="Search products" aria-label="Search" />
            </div>
            <div class="grid">
                <app-product class="col mt-0-5 mb-0-5" *ngFor="let product of productList | async" [product]="product"></app-product>
            </div>
            <div *ngIf="!renderRecommended">
                <app-pagination [totalPages]="totalPages" (pageChange)="pageChange($event)"></app-pagination>
            </div>
        </div>
        <div class="col-4 mt-1 pl-1 pr-1">
            <app-cart></app-cart>
        </div>
    </div>
</div>