<div class="card h-100">
    <img [src]="product?.defaultImage" class="card-img-top" />
    <div class="card-body">
        <h6 class="card-title">{{product?.name}}</h6>
        <p class="text-muted mb-4">{{product?.description}}</p>
        <div class="d-flex justify-content-between">
            <span>Price</span><span>${{product?.price}}</span>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" 
            [disabled]="addedToCart" 
            (click)="buyProduct(product)">Add To Cart</button>
    </div>
</div>
