/*---- grid styles ----*/
.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col-8 {
    flex: 0 0 auto;
    width: 66.66%;
    box-sizing: border-box;
}
.col-6 {
    flex: 0 0 auto;
    width: 50%;
    box-sizing: border-box;
}
.col-4 {
    flex: 0 0 auto;
    width: 33.33%;
    box-sizing: border-box;
}
.col {
    flex-basis: 32%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}